<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="ChannelId" value="11" />
    <add key="CacheSecurityDefinitions" value="false" />
    <add key="RecoverSecurityDefinitionsOnGap" value="false" />
    <add key="DisposeFixMessages" value="false" />
    <!--<add key="SubchannelsFilter" value="1,2"/>-->
    <!--<add key="SecurityIdsFilter" value="1,2"/>-->
    <!--<add key="SecurityDescriptionsFilter" value="GE,ZQ"/>-->

    <add key="ChannelConfigurationFile" value="Config/neo_channels.cfg" />
    <add key="FastTemplateFile" value="Templates/UdpFastTemplate.xml" />
    <add key="LocalNetworkInterface" value="192.168.20.5" />


  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- This switch controls general messages. In order to receive general trace messages change the value to the appropriate level.          
         "0" gives nothing
         "1" gives error messages, 
         "2" gives error and warning messages, 
         "3" gives error, warning and info messages, 
         "4" gives error, warning, info and verbose messages.
         -->
      <add name="Onixs.CmeFastHandler" value="4" />
      <add name="Onixs.CmeFastHandler.Receivers" value="1" />
      <add name="Onixs.CmeFastHandler.FixMessages" value="4" />
      <add name="Onixs.CmeFastHandler.OrderBook" value="4" />
    </switches>
    <!-- autoflush=false would decrease the system load -->
    <trace autoflush="true">
      <listeners>
        <remove name="Default" />
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener"
             initializeData="TraceLog.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FIXForge.NET.FIX.Engine-net-3.5" publicKeyToken="0640D14F7414FBAD" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.73.0.0" newVersion="2.73.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FIXForge.NET.FIX.Engine-net-4.0-x64" publicKeyToken="0640D14F7414FBAD"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.86.0.0" newVersion="2.86.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>